<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pessoa</title>
</head>
<body>

    <h2>Resultado da verificação: {{ verifica }}</h2>

    {% if verifica != "Registro não enontrado!" %}
        <h1>Parabéns!</h1>
    {% else %}
        <h1>I'm Sorry!</h1>
    {% endif%}


</body>
</html>