{% extends 'base.html' %} {% block title %} Listagem de Pessoas {% endblock %} {% block body %}



<ol>
    {% for pessoa in pessoas %}
    <li>
        <a href="{% url 'atualizar' pessoa.id %}">{{ pessoa.first_name }}</a>
        <a href="{% url 'deletar' pessoa.id %}"> Deletar</a>
    </li>
    {% endfor %}
</ol>
<form action="{% url 'cadastrar' %}">
    <button type="submit"> Novo Cadastro </button>
</form>

<form action="{% url 'logout' %}">
    <button type="submit"> Sair </button>
</form>

{% endblock %}